.modal {
    background-color: rgba(0, 0, 0, 0.432);
}

p {
    font-size: 1.1em;
    color: black;
    font-weight: 400;
}

button {
    margin-top: 10px;
    width: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}