img {
    float: right;
}

h2 {
    margin-top: 120px;
    color: white;
}

p {
    font-size: 1.2em;
    font-weight: 500;
    color:aliceblue;
}

hr {
    height: 5px;
}

button i{
    margin-right: 10px;
}

.container {
    max-width: 1450px;
} 