.modal {
    background-color: rgba(0, 0, 0, 0.432);
}

.modal-header {
    background-color: gainsboro;
    font-family: 'Times New Roman', Times, serif;
}

.modal-body {
    padding: 40px;
}

.form-control {
    border: none;
    background-color: white;
    font-size: 1.2em;
}

.col-form-label {
    font-size: 1.1em;
    font-weight: 500;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.541);
    padding: 20px;
}

h4 {
    padding-bottom: 20px;
}